<configuration>
    <!-- Appenders -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%magenta(%thread)] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>application.log</file> <!-- Путь и имя файла логов -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %(%-5level) [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="com.example" level="warn">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.hibernate" level="warn">
        <appender-ref ref="FILE" />
    </logger>
</configuration>
